footer#footer(role="contentinfo")
    div.container.group
        p.copyright
            |&copy;2013 moocss.com Inc. All rights reserved.
        p.footer-nav
            a(href="#")
                |Github
            a(href="#")
                |Issues
            a(href="#")
                |Home
            a(href="#")
                |Examples
            a(href="#")
                |Blog





