footer#footer
    div.container.group
        p.copyright
            |&copy;2013 moocss.com Inc. All rights reserved.
        p.footer-nav
            a
                |Github
            a
                |Issues
            a
                |Home
            a
                |Examples
            a
                |Blog





