extends layouts/default
block nav
    - page_name = '/'
block content
        #intro
            | 首页
        #promo
            h1
                | 大标题
            h2
                | 子标题
            p   描述。。。。。。。。。

