extends ../layouts/layout

block nav
  - page_name = '/'

block content
    .masthead
        .container
            h1
                | 开始了解
            p.motto
                | 一个轻量级、模块化的前端框架,为开发者提供快速和简单的前端解决方案。
