extends ../layouts/layout

block nav
  - page_name = '/'

block content
    .masthead
        .container
            h1
                | 开始了解
            p.motto
                | 一个轻量级、模块化的前端框架,为开发者提供快速和简单的前端解决方案。
    .container
        section#container
            article#main
                |文档内容！
        aside#sidebar(role="complementary")
            ul.nav.sidenav
                li.sidenav-item
                    a(href="#") 一、CSS 组件
                    ul.nav
                        li.sidenav-item
                            a(href="#") 1、命名规范
                        li.sidenav-item
                            a(href="#") 2、注释规范
                        li.sidenav-item
                            a(href="#") 3、栅格系统
                        li.sidenav-item
                            a(href="#") 4、排版类
                        li.sidenav-item
                            a(href="#") 5、兼容：CSS Hack
                        li.sidenav-item
                            a(href="#") 6、IE 私有特性
                        li.sidenav-item
                            a(href="#") 7、关于模块化
                li.sidenav-item
                    a(href="#") 二、 JavaScript
                li.sidenav-item
                    a(href="#") 三、反馈